/* body */
body {
    background-image:url(https://ucfvirtfsfpt0-gsw4973.slack.com/files/U05MBPATDAP/F05U85R1RHU/image.png) ;
    background-size:cover ;
    background-repeat:no-repeat ;
}

header {
    
}